// Home 달력 (Monthly Sales Custom Calendar)
.calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-header.header {
        width: 100%;
        height: 72px;
        padding: 10px 0 0 0 ;
        line-height: 14px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .navigation {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .title { margin: 0 10px; }
            &-button {
                display: block;
                border: 1px solid #b2b2b2;
                width: 28px;
                height: 28px;
                background-color: #fff;
                border-radius: 30px;
                position: relative;
                &::after {
                    display: block;
                    content: '';
                    border-left: 1px solid #272727;
                    border-bottom: 1px solid #272727;
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
                &.prev::after { transform: translate(-2.475px, -50%) rotate(45deg); }
                &.next::after { transform: translate(-4.95px, -50%) rotate(225deg); }
                &:disabled { 
                    border: 1px solid #ddd; 
                    cursor: default;
                    &::after {
                        border-left: 1px solid #d0d0d0;
                        border-bottom: 1px solid #d0d0d0;
                    }
                }
            }
        }
        .days {
            width: 100%;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            margin-top: auto;
            padding: 0 30px;
            box-sizing: border-box;
            display: flex;
            .day {
                width: calc((100% - 60px) / 7);
                flex: auto;
                text-align: center;
                &.saturday { color: #0000ff; }
                &.sunday { color: #ff0000; }
            }
        }
    }
    &-body {
        flex: auto;
        display: flex;
        flex-direction: column;
        font-size: 11px;
        &-row {
            padding: 0 30px;
            display: flex;
            flex: auto;
            border-bottom: 1px solid #e8e8e8;
            .day {
                width: calc(100% / 7);
                min-height: 44px;
                display: flex;
                flex-direction: column;
                flex: auto;
                padding: 2px 0 0 0px;
                &.sat { color: #0000ff; }
                &.sun { color: #ff0000; }

                .date-num { 
                    display: block; 
                    width: 16px; 
                    height: 16px; 
                    margin: 0 auto; 
                    text-align: center;
                    line-height: 16px; 
                    border-radius: 20px; 
                }
                .date-sales {
                    display: block;
                    margin: auto auto 5px auto;
                    text-align: center;
                    padding-left: 5px;
                    box-sizing: border-box;
                    color: #888;
                }
                &.disabled { color: #c8c8c8; }
                &.today { 
                    color: #fff; 
                    font-weight: bold;
                    background-color: #fff7f9;
                    .date-num { background-color: #f1658a; }
                    .date-sales { color: #f1658a; }
                }
            }
        }
    }
}

// 공통 달력 (common datepicker search)
div.react-datepicker {
    // common
    border: 0;
    box-shadow: 0px 0px 0.5px 0.5px #585872;
    
    &-popper[data-placement^=top] &__triangle::before {
        border-top-color: #3a3a4d;
    }

    &-popper[data-placement^=bottom] &__triangle::before,
    &-popper[data-placement^=bottom] &__triangle::after {
        border-bottom-color: #3a3a4d;
    }
    &__month-container {
        .react-datepicker__header {
            background-color: #3a3a4d;
            border: 0;
        }
        .react-datepicker__current-month {
            color: #fff;
            font-size: 14px;
            margin: 2px 0;
        }
    }
    .react-datepicker__navigation-icon::before {
        border-width: 1px 1px 0 0;
        top: 12px;
    }

    // 일별 datepicker
    &__day {
        &--keyboard-selected[aria-selected=false] {
            background-color: unset;
            color: inherit;
        }
        &--keyboard-selected:hover[aria-selected=false] {
            background-color: #f0f0f0;
        }
        &--outside-month[aria-disabled=false][aria-selected=false] { color: #7c7c7c; }
        &-name {
            &:nth-child(n) { color: #fff; }
            &:first-child { color: #ff7b7b; }
            &:last-child { color: #99a8ff; }
        }
        &--today[aria-current=date][aria-selected=false] { color: #f1658a; }
        &--selected[aria-selected=true],
        &--selected[aria-selected=true]:hover {
            background-color: #f1658a;
            color: #fff;
            font-weight: bold;
        }
    }
    .react-datepicker__day--weekend {
        &:nth-child(7n+1):not(.react-datepicker__day--outside-month)[aria-disabled=false][aria-selected=false] { color: #ff0000; }
        &:nth-child(7n):not(.react-datepicker__day--outside-month)[aria-disabled=false][aria-selected=false] { color: #0000ff; }
        .react-datepicker__day--disabled { color: #ccc; }
    }
    

    // 월별 datepicker
    &-year-header.react-datepicker__header {
        padding: 11px 0;
        color: #fff;
    }
    &__month-text.react-datepicker__month {
        &-text--today[aria-current=date] { color: #f1658a; }
        &--selected[aria-selected=true],
        &--selected:hover[aria-selected=true] { background-color: #f1658a; color: #fff; }
        &-text--keyboard-selected {
            background-color: inherit;
            color: inherit;
            &.react-datepicker__month--disabled {
                color: #ccc;
            }
        }
    }
}