// home bar chart
.bar-chart {
    height: 350px;
}
// sales line chart
.line-chart {
    height: 380px;
    position: relative;
    .chart-loading-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}