// table 상단 한줄 알림
.notification {
    font-weight: bold;
    font-size: 14px;
    color: #222;
    margin: 0;
    &.align-right {
        text-align: right;
    }
}

.underline {
    text-decoration: underline;
    text-underline-position: under;
}

.pointer {
    cursor: pointer;
}

// 제목 말줄임표 처리
.ellipsis {
    max-width: 71%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}