.etc-wrap { 
    .contents { position: relative; width: 100%; padding-top: 40px; 
        .btn-search { border-radius: 4px; }
        .result-function-wrap { align-items: center; 
            .paging-wrap { margin-top: 0px; }
            .filter-number { position: static; }
        }
        .info-wrap { margin-top: 30px; 
            strong { color: #000; }
        }
        .board-wrap{
            .no-data { padding: 60px 0; } // custom
        }
    }
    .order-view { color: #3d3d9f; font-size: 16px; text-decoration: underline; cursor: pointer;  }
}

.etc-total { height: 52px!important; }
