.etc-wrap { 
    .contents { position: relative; width: 100%; padding-top: 40px; 
        .btn-search { border-radius: 4px; }
        .search-result-wrap { 
            .price-info { line-height: 20px; margin-top: 30px; font-size: 12px; font-weight: 300; color: #888; 
                span { color: #000; font-weight: bold; }
            }
        }
        .result-function-wrap { 
            align-items: center; 
            .paging-wrap { margin-top: 0px; }
            .filter-number { position: static; }
        }
        .info-wrap { margin-top: 30px; 
            strong { color: #000; }
        }
    }
    .order-view { color: #3d3d9f; font-size: 16px; text-decoration: underline; cursor: pointer;  }
}

.etc-total { height: 52px!important; }
