.event_current{
    .contents { position: relative; width: 100%; padding-top: 20px;
        .tab-wrap{
            padding-top: 20px;
        }
        .board-date-wrap{
            .search-wrap{ margin-top: 25px; 
                .search-text { display: flex; gap: 4px;
                    input {
                        width: 240px;
                        height: 46px;
                        font-size: 16px;
                        font-weight: 300;
                        border: 1px solid #ddd; 
                        box-sizing: border-box;
                        border-radius: 4px;
                        text-indent: 10px;
                        &::placeholder { color: #999; }
                    }
                }
            }
            .board-wrap{ 
                // custom
                .no-data {
                    padding: 80px 0;
                }
            }
            .result-function-wrap { align-items: center; 
                .paging-wrap { margin-top: 0px; }
                .filter-number { position: static; }
            }
        }
    }
}