@mixin layout-init {
    display: block;
    height: auto;
    padding: 0px;
    background: none;
}
@mixin select-style {
    background: #fff url('../../assets/images/icon/i_arrow_b_downdrop.svg') 93% center no-repeat;
    outline: none;
    appearance: none;
    cursor: pointer;
}
@mixin goast-btn-padding {
    padding: 10px 12px;
    color: #3a3a4d;
    font-size: 16px;
    border: 1px solid #3a3a4d;
    border-radius: 4px;
    background: #fff;
}
select { @include select-style; }
.goast-btn { @include goast-btn-padding; }
.input { 
    display: block; 
    width: 100%; 
    height: 60px; 
    padding: 0px 15px;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #bbb; 
    border-radius: 4px;
    box-sizing: border-box;
    &::placeholder { color: #bbb; }
}
.check { display: none; 
    &+label {
        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            background: url('../../assets/images/icon/i_check_default.svg') 0 0 no-repeat;
        }
    }
    &:checked {
        &+label {
            &:before {
                background: url('../../assets/images/icon/i_check_active.svg') 0 0 no-repeat;
            }
        }
    }
}
.radio { display: none;
    &+label { cursor: pointer;
        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-top: -3px;
            margin-right: 4px;
            vertical-align: middle;
            background: url('../../assets/images/icon/i_radio_default.svg') 0 0 no-repeat;
        }
    }
    &:checked {
        &+label {
            &:before {
                background: url('../../assets/images/icon/i_radio_active.svg') 0 0 no-repeat;
            }
        }
    }
}

.contents-wrap {
    display: flex;
    min-height: calc(100vh - 110px);
    padding: 0px 30px 30px;
    background: #f8f8f8;
    flex-direction: column;
    align-items: center;
    .contents { width: 450px; padding-top: 180px;
        .description { margin-bottom: 20px; font-size: 16px; font-weight: bold; color: #000; text-align: center; }
        .input-wrap { position: relative;
            .input { padding-right: 70px; }
            .resend { 
                position: absolute;
                top: 17px;
                right: 15px;
                z-index: 10;
                font-size: 16px;
                font-weight: bold;
                color: #666;
                text-decoration: underline;
            }
        }
        .msg-warning { padding: 15px 0px 0px 10px; font-size: 14px; color:#ff3a3a; }
        .btn-modify { 
            width: 100%; 
            height: 70px; 
            line-height: 70px;
            margin-top: 40px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            border-radius: 8px;
            background: #f1658a; 
            a { display: block; }
        }
        .time-valid { padding: 10px 0px 0px 15px; font-size: 14px; color: #999; 
            .point { font-weight: bold; color: #f1658a; }
        }
    }
}

.msg-warning { padding: 15px 0px 0px 10px; font-size: 14px; color:#ff3a3a; }

.cta-btn-wrap { display: flex; margin-top: 42px; justify-content: space-between;
    .btn-close { 
        width: 172px; 
        height: 70px; 
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        border-radius: 10px;
        background: #808097;
    }
    .btn-check { @extend .btn-close; background: #f1658a; }
}

.bullet { position: relative;
    &:before {
        content: '';
        width: 3px;
        height: 3px;
        background: #000;
        transform: translate(0%, -50%);
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
    }
}

.btn-search {    
    width: 66px;
    height: 46px;
    font-size: 16px;
    border: 1px solid #3a3a4d;
    border-radius: 4px;
    background: #fff;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        margin-right: 2px;
        background: url('../../assets/images/icon/i_search.svg') 0 0 no-repeat;
    }
}

.paging-wrap { display: flex; margin-top: 30px; gap: 20px; justify-content: center;
    .btn-prev { 
        display: block;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icon/i_num_prev_nor.svg') 0 0 no-repeat;
    }
    .paging { display: flex; gap: 20px;
        li { font-size: 14px; color: #999; cursor: pointer;
            &.active {
                font-weight: bold;
                color: #f1658a;                
                text-decoration: underline;
            }
        }
    }
    .btn-next {
        display: block;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icon/i_num_next_nor.svg') 0 0 no-repeat;
    }
}

.filter-number {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 46px;
    font-size: 16px;
    text-indent: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tab-content { display: none; 
    &.active { display: block; }
}

.tab-wrap { display: flex; border-bottom: 2px solid #ddd;
    .tab { 
        line-height: 18px;
        padding: 14px 40px; 
        font-size: 16px;
        font-weight: bold;
        color: #ddd;
        border-top: 2px solid #ddd;
        border-right: 2px solid #ddd;
        background: #fff;
        cursor: pointer;
        &:first-child { border-left: 2px solid #ddd; border-top-left-radius: 10px; }
        &:last-child { border-top-right-radius: 10px; }
        &.active {
            border: 2px solid #f1658a;
            background: #f1658a;
            color: #fff;
        }
    }
}

.colon { 
    &:before { content: ':'; padding: 0px 4px; font-weight: 400; color: #555; }
}
.hyphen {
    &:before { content: '-'; padding-right: 5px; }
}
.alert-layer {
    display: flex;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    .msg-wrap {
        position: relative;
        width: 570px;
        height: 244px;
        padding: 50px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 20px;
        background: #fff;
        .title { margin-top: 0px; font-size: 28px; font-weight: bold; color: #000; }  
        .btn-cta { 
            width: 150px; 
            height: 60px; 
            margin-top: 50px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            border-radius: 6px; 
            background: #f1658a; 
        }
        .btn-close { 
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            background: url('../../assets/images/icon/i_layer_close.svg') 0 0 no-repeat;
        }
    }
    &.modify-layer { 
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        .msg-wrap { padding: 50px 30px;
            .text-area { 
                width: 510px; 
                height: 300px;
                padding: 13px 10px;
                margin: 30px 0px 0px;
                font-size: 16px;
                font-weight: 300;
                color: #999;
                border: 1px solid #ddd;
                box-sizing: border-box;
            }
            .board-wrap { border-radius: 20px; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08); overflow: hidden;
                th { height: 45px;  color: #fff; font-size: 14px; background: #3a3a4d; }
                td { 
                    height: 70px;
                    line-height: 22px;
                    text-align: center; 
                    border-right: 1px solid #ddd; 
                    border-bottom: 1px solid #ddd;
                    word-break: keep-all;
                    font-size: 14px;
                    color: #555555;
                    &:first-child { border-left: 1px solid #ddd; }
                    &.content { padding: 12.5px 20px; text-align: left; }
                    &.left-radius { border-bottom-left-radius: 20px; }
                    &.right-radius { border-bottom-right-radius: 20px; }
                    &.point { color: #f1658a; }
                    &.align-right { padding-right: 19px; text-align: right; }
                    &.negative-value { color: #ff3a3a; }
                }
            }
        }
        .cta-btn {
            padding: 19px 58px;
            margin-top: 30px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            border-radius: 8px;
            background: #f1658a;
        }
        .close-btn {
            @extend .cta-btn;
            background: #3a3a4d;
        }
    }
    &.history-layer {
        @extend .modify-layer;
        .msg-wrap { width: auto; }
    }
    &.order-layer {
        @extend .modify-layer;
        .msg-wrap { width: auto; }
    }
    &.setting-layer {
        @extend .modify-layer;
        .msg-wrap { width: auto; }
    }
    &.active { display: flex; }
    
}

.board-wrap { margin-top: 30px;  border-radius: 20px; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08); overflow: hidden; 
    &.board-top { margin-top: 15px; }
    .price-area { background: #585872; border: 0px!important; text-align: center; font-size: 14px; color: #fff; }
    .block { display: block; }
    .bg-a { background: #585872; }
    .bg-b { background: #5a4b71; }
    .bg-c { background: #443161; }
    .bg-d { background: #333; }
    .bg-e { background: #555;}
    th { 
        height: 45px; 
        color: #fff;
        font-size: 14px;
        background: #3a3a4d;
        &.boder-th-a { border-bottom: 1px solid #5d5d75!important; }
        &.boder-th-b { border-bottom: 1px solid #6c6c97!important; }
        &.boder-th-r { border-right: 1px solid #6c6c97!important; }
        &.boder-th-l { border-left: 1px solid #6c6c97!important; }
        &.height-63 { height: 63px; }
    }
    td { 
        height: 52px; 
        text-align: center; 
        color: #555;
        border-right: 1px solid #ddd; 
        border-bottom: 1px solid #ddd; 
        background: #fff;
        &:first-child { border-left: 1px solid #ddd; }
        &.content { padding-left: 30px; text-align: left; }
        &.left-radius { border-bottom-left-radius: 20px; }
        &.right-radius { border-bottom-right-radius: 20px; }
        &.point { background: #fff7f9; color: #f1658a; }
        &.negative-value { color: #ff3a3a; }
        &.align-left { padding-left: 20px;text-align: left!important; }
        &.align-center { text-align: center!important; }
        &.align-right { padding-right: 20px; text-align: right!important; }
        &.total { font-weight: bold; background : #fff7f9; }
        &.boder-th-l { border-left: 1px solid #6c6c97!important; }
    }
}   

.sort-wrap { display: flex; margin-top: 30px;
    select { 
        width: 140px; 
        height: 46px; 
        margin-right: 4px;
        font-size: 16px;
        color: #000;
        border: 1px solid #ddd; 
        border-radius: 4px;
        box-sizing: border-box; 
        text-indent: 10px;
    }
    input {
        width: 240px;
        height: 46px;
        font-size: 16px;
        font-weight: 300;
        border: 1px solid #ddd;
        border-right: 0px;
        box-sizing: border-box;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        text-indent: 10px;
        &::placeholder { color: #999; }
    }
}    

.info-wrap { line-height: 26px; font-size: 16px; font-weight: 300; color: #888; }

.result-function-wrap { display: flex; margin-top: 15px; justify-content: space-between;
    .function-wrap { display: flex; margin-top: 0px; gap: 4px; }
    .result { display: flex; align-items: center; font-size: 20px;
        span { line-height: 43px; padding-left: 8px; font-size: 34px; font-weight: bold; color: #f1658a; }
    }
}

.search-wrap { display: flex; margin-top: 15px; gap: 4px;
    .input-wrap {  display: flex; align-content: center; align-items: center;
        input { 
            width: 160px; 
            height: 46px; 
            line-height: 46px;
            border-radius: 4px; 
            border: 1px solid #ddd;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: 300;
            text-indent: 10px;
            color: #999;
            cursor: pointer;
        }
        i { padding: 0px 4px; color: #999; }
    }
    .select-wrap {
        select {
            width: 210px;
            height: 46px;
            font-size: 16px;
            color: #000;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-indent: 10px;
        }
    }
    .radio-wrap {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0px 11px;
    }
}

.search-result-wrap { margin-top: 30px;
    .search-date { position: relative; padding-left: 24px; font-size: 18px; font-weight: bold; 
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0px;
            width: 18px;
            height: 18px;
            background: url('../../assets/images/icon/i_search_time.svg') 0 0 no-repeat;
        }
    }
    .search-result {
        display: flex;
        margin-top: 15px;
        line-height: 30px;
        max-height: 180px;
        font-size: 16px;
        color: #555; 
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        gap: 0px 60px;
        li { 
            &:before { content: '-'; padding-right: 5px; }
            span { color: #f1658a; font-weight: bold; }
        }
    }
    .price-info { line-height: 20px; margin-top: 30px; font-size: 12px; font-weight: 300; color: #888; 
        span { color: #000; font-weight: bold; }
    }
}

.title { margin-top: 30px; font-size: 20px; font-weight: bold; 
    .sub-title { 
        display: block;
        font-size: 12px; 
        font-weight: 300; 
        color: #888; 
        &:first-child { margin-top: 10px; }
        &.point { color: #f52323; }
    }
}

.chart-wrap { padding: 20px; margin-top: 15px; background: #fff; }